<com.topcoder.farm.processor.configuration.ProcessorConfiguration>
  <rootFolder>c:/processor/deploy/</rootFolder>
  <workFolder>c:/processor/deploy/work</workFolder>
  <addresses>
      <java.net.InetSocketAddress>@farmControllerAppHost@:25001</java.net.InetSocketAddress>
  </addresses>
  <registrationTimeout>15000</registrationTimeout>
  <ackTimeout>120000</ackTimeout>
    <inactivityTimeout>610000</inactivityTimeout>
  <keepAliveTimeout>300000</keepAliveTimeout>

</com.topcoder.farm.processor.configuration.ProcessorConfiguration>
