<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/farm-server/src/main/com/topcoder/farm/processor/ProcessorMain.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.debug.core.appendEnvironmentVariables" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.JRE_CONTAINER" value="org.eclipse.jdt.launching.JRE_CONTAINER/org.eclipse.jdt.internal.debug.ui.launcher.StandardVMType/JavaSE-1.6"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.topcoder.farm.processor.ProcessorMain"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="PR-LX-1"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="ZR-Tester"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-DconfigurationProvider.class=com.topcoder.farm.processor.configuration.XMLConfigurationProvider -Dconfiguration.xml.url=http://localhost:8080/farm-deployer/config?type=processor&amp;id=PR-LX-1"/>
</launchConfiguration>
