initmodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedInitializer.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/LongInitializer.so
#maximum wall clock time
maxwall=180000
maxcpu=180000
#64*1024*1024 - 64MB
maxmem=67108864
#20k
maxwrite=20000
#threading
maxthreads=1
#which modules to load for security, comma delimited, order preserved
securitymodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/PythonSecurityChecker.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedSecurityChecker.so
#approvedpath=/lib,/usr/lib,/usr/local/lib/python2.4
#python 2.6 64bit envuironment
approvedpath=/lib64,/usr/lib64,/usr/lib64/python2.7,/usr/lib64/python2.7/site-packages,/usr/lib/python2.7/site-packages
approvedfiles=/etc/ld,/dev/null
#port
port=8000
