#which modules to load for inits, comma delimited, order preserved
initmodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedInitializer.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SRMInitializer.so
#maximum wall clock time
maxwall=20000
maxcpu=2000
#64*1024*1024 - 64MB
maxmem=67108864
#20k
maxwrite=20000
#threading
maxthreads=1
#which modules to load for security, comma delimited, order preserved
securitymodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/Python3SecurityChecker.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SRMSecurityChecker.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedSecurityChecker.so
approvedpath=/lib64,/usr/lib64,/lib,/usr/lib
approvedfiles=/etc/ld,/dev/null,../Wrapper.pyc
