<?xml version="1.0" encoding="ISO-8859-1"?>
<config>
<reportFile>tester.out</reportFile>
<startTime>5000</startTime>
<port>5008</port>
<currentUser>0</currentUser>
<problemInfo>
<incorrectCode>public class Simple { public int Addition(int a, int b) { return a-b;}}</incorrectCode>
<roomNumber>0</roomNumber>
<correctCode>public class Simple { public int Addition(int a, int b) { return a+b;}}</correctCode>
</problemInfo>
<problemInfo>
<incorrectCode>import java.util.*;
public class Reverse { public String Reverse(String s) { return s;}}</incorrectCode>
<roomNumber>1</roomNumber>
<correctCode>import java.util.*;
public class Reverse { public String Reverse(String s) { return new StringBuffer(s).reverse().toString();}}</correctCode>
</problemInfo>
<problemInfo>
<incorrectCode>class Square { public double Root(double d) { return d; }}</incorrectCode>
<roomNumber>2</roomNumber>
<correctCode>class Square { public double Root(double d) { return Math.sqrt(d); }}</correctCode>
</problemInfo>
<mode>random</mode>
<actionFrequency>1000</actionFrequency>
<endTime>60000</endTime>
<actionRandomness>10</actionRandomness>
<usersPerClient>2</usersPerClient>
<userInfo>
<password>password</password>
<username>guest100</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest101</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest102</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest103</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest104</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest105</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest106</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest107</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest108</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest109</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest110</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest111</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest112</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest113</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest114</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest115</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest116</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest117</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest118</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest119</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest120</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest121</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest122</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest123</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest124</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest125</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest126</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest127</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest128</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest129</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest130</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest131</username>
</userInfo>
<userInfo>
<password>password</password>
<username>guest132</username>
</userInfo>
<actionProbability>
<type>CHAT_ACTION</type>
<count>5</count>
</actionProbability>
<actionProbability>
<type>CHALLENGE_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>CHALLENGE_INFO_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>CLEAR_PRACTICE_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>COMPILE_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>OPEN_PROBLEM_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>SUBMIT_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>GOTO_LOBBY_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>GOTO_PRACTICE_ROOM_ACTION</type>
<count>0</count>
</actionProbability>
<actionProbability>
<type>TEST_ACTION</type>
<count>0</count>
</actionProbability>
<host>coder.topcoder.com</host>
</config>
