initmodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedInitializer.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/LongInitializer.so
#maximum wall clock time
maxwall=180000
maxcpu=180000
#64*1024*1024 - 64MB
maxmem=67108864
#20k
maxwrite=20000
#threading
maxthreads=1
#which modules to load for security, comma delimited, order preserved
securitymodules=@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/RLanguageSecurityChecker.so,@farmProcessorRootFolder@/deploy/app/cpp/sandbox2/GNU-i386-Linux/SharedSecurityChecker.so
approvedpath=/lib64,/usr/lib64,/opt/R-2.15.3/lib64
approvedfiles=/etc/ld,/dev/null
#port
port=8000
