<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE hibernate-configuration PUBLIC
		"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
		"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>

		<!--  <property name="hibernate.cache.provider_class">org.hibernate.cache.EhCacheProvider</property>-->

		<!-- Connection Pool -->
		<property name="hibernate.c3p0.acquire_increment">1</property> 
		<property name="hibernate.c3p0.max_size">200</property> 
		<property name="hibernate.c3p0.idle_test_period">300</property>
		<property name="hibernate.c3p0.max_statements">0</property> 
		<property name="hibernate.c3p0.min_size">5</property> 
		<property name="hibernate.c3p0.timeout">0</property> 
		
		
		<!--property name="hibernate.dbcp.maxActive">8</property>
		<property name="hibernate.dbcp.maxIdle">8</property>
		<property name="hibernate.dbcp.maxWait">-1</property>
		<property name="hibernate.dbcp.whenExhaustedAction">2</property>
		<property name="hibernate.dbcp.testOnBorrow">false</property>
		<property name="hibernate.dbcp.testOnReturn">false</property>
		<property name="hibernate.dbcp.validationQuery">select 1+1</property>
		<property name="hibernate.dbcp.ps.maxActive">8</property>
		<property name="hibernate.dbcp.ps.maxIdle">8</property>
		<property name="hibernate.dbcp.ps.maxWait">1000 * 60 * 30</property>
		<property name="hibernate.dbcp.ps.whenExhaustedAction">2</property-->
		
		
		<!--Hibernate Properties --> 
		<property name="hibernate.current_session_context_class">org.hibernate.context.ThreadLocalSessionContext</property>
		<property name="hibernate.show_sql">false</property>
		<property name="hibernate.format_sql">false</property>
        <property name="hibernate.cache.use_second_level_cache">false</property>
		<property name="hibernate.jdbc.use_streams_for_binary">false</property>
		<property name="hibernate.cglib.use_reflection_optimizer">false</property>
		<property name="hibernate.jdbc.batch_size">0</property>
		
		<!-- PostgreSQL DEV >
        <property name="hibernate.connection.username">mural</property>
        <property name="hibernate.connection.password">mural</property>
        <property name="hibernate.dialect">com.topcoder.farm.controller.dao.hibernate.dialect.PostgreSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:postgresql://solaris/mural</property>
        <property name="hibernate.connection.driver_class">org.postgresql.Driver</property-->

		<!-- MYSQL DEV -->        
		<property name="hibernate.connection.username">@farm.mysql.username@</property>
        <property name="hibernate.connection.password">@farm.mysql.password@</property>
        <property name="hibernate.connection.url">jdbc:mysql://@farm.mysql.host@:@farm.mysql.port@/farm</property>
        <property name="hibernate.dialect">com.topcoder.farm.controller.dao.hibernate.dialect.MySQLDialect</property>

        <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
        <property name="hibernate.connection.prepStmtCacheSize">60</property>
        <property name="hibernate.connection.cachePrepStmts">true</property>
        <property name="hibernate.connection.prepStmtCacheSqlLimit">1768</property>
		<property name="hibernate.connection.cacheResultSetMetadata">true</property>
        <property name="hibernate.connection.metadataCacheSize">60</property>
        
        <!--property name="hibernate.connection.profileSQL">true</property>
        <property name="hibernate.connection.useUsageAdvisor">true</property-->

		<!--property name="hibernate.connection.username">root</property>
        <property name="hibernate.connection.password">admin</property>
        <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/farm</property-->
		
		
        <!-- HSQL -->
        <!--property name="hibernate.connection.username">sa</property>
        <property name="hibernate.connection.password"></property>
        <property name="hibernate.dialect">com.topcoder.farm.controller.dao.hibernate.dialect.HSQLDialect</property>
        <property name="hibernate.connection.url">jdbc:hsqldb:hsql://localhost:9066/farm</property>
        <property name="hibernate.connection.driver_class">org.hsqldb.jdbcDriver</property-->
        
        <!-- Informix>
        <property name="hibernate.connection.username">coder</property>
        <property name="hibernate.connection.password">altec</property>
        <property name="hibernate.dialect">com.topcoder.farm.controller.dao.hibernate.dialect.InformixDialect</property>
        <property name="hibernate.connection.url">jdbc:informix-sqli://63.118.154.190:1526/informixoltp:informixserver=devinformix10_shm;</property>
		<property name="hibernate.connection.driver_class">com.informix.jdbc.IfxDriver</property>
		<property name="hibernate.connection.IFX_LOCK_MODE_WAIT">5</property>
		<property name="hibernate.connection.OPTCOMPIND">0</property>
		<property name="hibernate.connection.MaxPooledStatements">20</property-->
		
        <!-- Mappings -->
        <mapping resource="com/topcoder/farm/controller/model/InvocationData.hbm.xml"/>
        <mapping resource="com/topcoder/farm/controller/model/ProcessorData.hbm.xml"/>
		<mapping resource="com/topcoder/farm/controller/model/ProcessorProperties.hbm.xml"/>
	  	<mapping resource="com/topcoder/farm/controller/model/ClientData.hbm.xml"/>
		<mapping resource="com/topcoder/farm/controller/model/SharedObject.hbm.xml"/>
	    <mapping resource="com/topcoder/farm/controller/model/InvocationProperty.hbm.xml"/>
	    <mapping resource="com/topcoder/farm/controller/model/QueueConfig.hbm.xml"/>
	    <mapping resource="com/topcoder/farm/controller/dao/hibernate/invocation-named-queries.hbm.xml"/>
		<mapping resource="com/topcoder/farm/controller/dao/hibernate/sharedobject-named-queries.hbm.xml"/>
    </session-factory>
</hibernate-configuration>
