<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">
  <appender name="console" class="org.apache.log4j.ConsoleAppender"> 
    <param name="Target" value="System.out"/> 
    <layout class="org.apache.log4j.PatternLayout"> 
      <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t, %c{1}] %m%n"/> 
    </layout> 
  </appender> 
	
   <appender name="file" class="org.apache.log4j.RollingFileAppender"> 
		<param name="File" value="logs/${com.topcoder.farm.type}-${com.topcoder.farm.id}.log"/> 
		<param name="Append" value="True"/>
		<param name="MaxFileSize" value="200MB"/>
		<param name="MaxBackupIndex" value="10"/>
		<layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t, %c{1}] %m%n"/> 
		</layout> 
   </appender>

   <appender name="socket" class="com.topcoder.server.util.logging.net.TCSocketAppender"> 
	<param name="remoteHost" value="@arenaListernerAppHost@" />
	<param name="port" value="5004" />
	<param name="reconnectionDelay" value="20000" />
	<param name="locationInfo" value="false" />
	<param name="identifier" value="${com.topcoder.farm.type}-${com.topcoder.farm.id}" />
	<param name="owner" value="${user.name}" />
	<layout class="org.apache.log4j.PatternLayout"> 
          <param name="ConversionPattern" value="%d{ISO8601} %-5p [%t, %c{1}] %m%n"/> 
	</layout> 
   </appender>

        <logger name="com.topcoder.farm.controller.node.ControllerNodeImpl">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.client.ClientManager">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.dao.hibernate.HibernateDAOFactory$HibernateTransactionManager">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.processor.LockManager">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.processor.ProcessorManager">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.queue.QueueManager">
            <level  value ="debug" />
        </logger>
        <logger name="com.topcoder.farm.controller.services.ControllerServicesImpl">
            <level  value ="debug" />
        </logger>
 
 	<logger name="org.hibernate"> 
	    <level  value ="info" /> 
        </logger> 

 	<logger name="com.topcoder"> 
	    <level  value ="info" /> 
   	</logger> 

	<logger name="STATUS"> 
	    <level  value ="info" /> 
   	</logger>
         <logger name="listener">
            <level  value ="info" />
        </logger>
   <root> 
    <level value ="warn" /> 
    <appender-ref ref="console" /> 
    <!--appender-ref ref="file" /--> 
	<!--appender-ref ref="socket" /--> 
  </root>
  
</log4j:configuration>
